.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 15px;
}

.form input,
.form select {
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.form .btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.form .btn:hover {
  background-color: #388e3c;
}
